<nav *ngIf="totalPages > 1">
  <ul class="pagination">
    <li class="page-item" (click)="previous()"><a class="page-link" href="javascript:void(0)">Anterior</a></li>
    <li
      *ngFor="let any of [].constructor(totalPages);let i = index"
      class="page-item"
      [ngClass]="{'active':i == currentPage}"
    >
      <a class="page-link" (click)="navigate(i)">{{i + 1}}</a>
    </li>
    <li class="page-item" (click)="next()"><a class="page-link" href="javascript:void(0)">Próximo</a></li>
  </ul>
</nav>
